.name {
	font-size: 2.5em;
	text-align: center;
}

.profile-img { 
	max-width: 75vw;
	display: block;
	margin: auto;
}

@media (min-width:950px) {
    .hero {
        display: flex;
    }
    .profile-img { 
        max-width: 35vw;
    }
    .home-content {
        display: inherit;
        margin-left: 20px;
        align-items: center;
    }
}

.home li {
    list-style-type: none;
}

.home-content {
    padding: 10px 0;
}

.card {
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}