---
layout: default
---
<div class="home">
    <h1>Dominic Carrillo</h1>

    {{ content }}
    
    <h2>Blog</h2>
    <!-- Loop through different blog post -->
    <ul>
    {% for post in site.blog %}
    {% if post.hidden == false %}
        <li>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        </li>
    {% endif %}
    {% endfor %}
    </ul>

    <h2>Projects</h2>
    <!-- Loop through different projects -->
    <ul>
    {% for project in site.projects %}
    {% if project.hidden == false %}
        <li>
            <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
        </li>
    {% endif %}
    {% endfor %}
    </ul>

    <h2>Publications</h2>
    <!-- Loop through different publications -->
    <ul>
    {% for pub in site.publications %}
    {% if pub.hidden == false %}
        <li>
            <h3>{{ pub.title }}</h3>
        </li>
    {% endif %}
    {% endfor %}
    </ul>

</div>
