---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}

    {% if page.url == "/publications/" %}
        {% for pub in site.publications %}
        {% if pub.hidden == false %}
            <h3>{{ pub.title }}</h3>
        {% endif %}
        {% endfor %}
    {% endif %}

    {% if page.url == "/projects/" %}
        {% for project in site.projects %}
        {% if project.hidden == false %}
            <h3>{{ project.title }}</h3>
        {% endif %}
        {% endfor %}
    {% endif %}

    {% if page.url == "/blog/" %}
        {% for post in site.blog %}
        {% if post.hidden == false %}
            <h3>{{ post.title }}</h3>
        {% endif %}
        {% endfor %}
    {% endif %}

    {% if page.url == "/about/" %}
        <div class="social">
            <a class="icon resume" href="/resources/docs/DCarrillo_Resume.pdf" target="_blank"><i class="fa-solid fa-circle-user"></i>Resume</a>
            <!-- <a class="icon cv" href="/resources/docs/DCarrillo_Resume.pdf" target="_blank"><i class="fa-regular fa-file"></i>CV</a> -->
            <a class="icon linkedin" href="https://www.linkedin.com/in/dwc13" target="_blank"><i class="fa-brands fa-linkedin-in"></i>LinkedIn</a>
            <a class="icon instagram" href="https://www.instagram.com/dwc_13/" target="_blank"><i class="fa-brands fa-instagram"></i>Instagram</a>
            <a class="icon github" href="https://www.github.com/dwc13" target="_blank"><i class="fa-brands fa-github"></i>GitHub</a>
        </div>
    {% endif %}
  </div>

</article>
